// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// Over-ride Fonts

.heading {
  font-family: "Gentium Basic", "Georgia", "Helvetica Neue", Arial, sans-serif;
}
.serif { font-family: "Gentium Basic", Georgia, Times, "Times New Roman", serif; }
.sans { font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif; }
body {
  font-size: 1em; line-height: 1.45em;
}
